@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


.App {
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #f87d0a;
  overflow-x: hidden;
}

.header {
  font-family: 'Nanum Gothic', sans-serif;
  height: 95vh;
  color: white;
  background-color: #f87d0a; 
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.header p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section{
  height: 80vh;
}

#wwa-mission {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20vh;
}

#wwa-mission h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #f87d0a;
}

#wwa-mission hr {
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

#wwa-mission p {
  color: black;
  text-align: justify;
  line-height: 2;
  margin: 0;
}

#img{
  background-image: url('/public/images/grow-individual.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
  width: 100%; 
  height: 50vh; 
  margin-bottom: 20vh;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  background-color: #ffffff; 
  margin: 10px auto;
  margin-bottom: 20vh;
  height: 95vh;
  width: 80%;
  overflow-x: hidden;
}

#approach{
  flex-direction: row-reverse;
  height: 100vh;
  font-weight: 500;
}

#approach hr{
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

#expense{
  height: 100vh;
}

#expense p{
  font-weight: 500;
}

#expense hr{
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

#income > *{
  margin: 10px;
}

#income{
  flex-direction: row-reverse;
}

#income p{
  font-weight: 500;
}

#income hr{
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

#investment p{
  font-weight: 500;
}

#investment hr{
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

.left, .right {
  flex: 1;
  max-width: 48%;
  margin: 0 10px;
  box-sizing: border-box;
}

.section h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #f87d0a;
}

.section > hr{
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

.section > p{
  color: black;
  text-align: justify;
  line-height: 2;
  margin: 0;
}

.benefits{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  background-color: #f9f9f9; 
  margin: 10px auto;
  margin-bottom: 20vh;
  height: 40vh;
  max-width: 800px;
  width: 60%;
}

.benefits hr{
  border: 1px solid #f87d0a;
  margin: 10px auto;
  width: 30%;
}

.benefits{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.description {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 10vh;
  line-height: 1.5;
  padding: 10px 0;
  text-align: justify;
}

.image-container {
  flex: 1;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageContainer img {
  width: 100%;
  height: auto;
}


.contact {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  height: 13vh;
}

.contact a:visited{
  color: #000000;
}

.buttons {
  font: 'Montserrat';
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
}

.button img {
  margin-right: 5px;
  height: 20px;
  width: auto;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  #center{
    flex-direction: column;
    align-items: center;
  }
  #investment{
    flex-direction: column;
    align-items: center;
  }
  #income{
    flex-direction: column;
    align-items: center;
  }
  #expense{
    flex-direction: column;
    align-items: center;
  }
  #approach{
    flex-direction: column;
    align-items: center;
  }
  #wwa-mission{
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  main {
      flex-direction: column;
  }
  .section {
      flex-direction: column;
  }
  .description {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .image-container {
      height: 20vh;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background-color: #ff7300;
  border-radius: 10px;
  border: 2px solid #f9f9f9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fc6500;
}

#block{
  display: none;
}

a{
  color: #f87d0a;
  text-decoration: none;
}

a:visited{
  color: #f87d0a;
  text-decoration: none;
}